/* CardSection.css */

.card-section {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  text-align: center;

}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #003366;

}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  background-color: wheat;
  padding: 5rem;

  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.card:nth-child(1) {
  background-image: url('public/imagem/cs.jpg');
  background-size: cover;
}

.card:nth-child(2) {
  background-image: url('public/imagem/movilehack_afro_88.webp');
  background-size: cover;
}

.card:nth-child(3) {
  background-image: url('public/imagem/nuvem.webp');
  background-size: cover;
}

.card:nth-child(4) {
  background-image: url('public/imagem/mmm.jpg');
  background-size: cover;
}

.card:nth-child(5) {
  background-image: url('public/imagem/tempo.jpg');
  background-size: cover;
}

.card:nth-child(6) {
  background-image: url('public/imagem/dirigrns.png');
  background-size: cover;

}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.25rem;
}


.card p {
  color: #fff;
  font-size: 1rem;
}

/* Responsivo */
@media (max-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}